---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://ataraxialab.ch/</loc>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/a-propos/</loc>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/activites/</loc>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/realisations/</loc>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/tutoriels/</loc>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/tutoriels/site-web-conforme-lpd/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/tutoriels/mentions-legales-suisse-obligatoire/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/tutoriels/google-fonts-lpd-conformite/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/tutoriels/formulaire-contact-lpd/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/tutoriels/association-lpd-obligations/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/tutoriels/site-web-associatif-par-ou-commencer/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/tutoriels/heberger-site-associatif-suisse/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/tutoriels/nom-de-domaine-email-association/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/tutoriels/formulaire-adhesion-association-en-ligne/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/tutoriels/association-lpd-cas-pratiques-membres/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/tutoriels/boite-outils-numerique-association-romande/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/tutoriels/ia-generative-2026-ce-que-cest-vraiment/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/tutoriels/donnees-ia-protection-lpd/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/tutoriels/chatgpt-claude-gemini-lequel-choisir/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/tutoriels/ecrire-un-bon-prompt-cinq-etapes/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/tutoriels/faire-confiance-reponse-ia/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/tutoriels/ia-droits-auteur-droit-suisse-2026/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/tutoriels/empreinte-cachee-ia-cout-energetique/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/tutoriels/association-ia-deleguer-sans-risque/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/tutoriels/logiciel-libre-souverainete-numerique-profane/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/tutoriels/migration-email-infomaniak-proton-sans-risque/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/tutoriels/ecosysteme-numerique-suisse-infomaniak-proton-tresorit/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/tutoriels/sauvegarde-donnees-regle-321-suisse/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/tutoriels/votre-navigateur-vous-surveille/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/tutoriels/open-source-au-quotidien/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/tutoriels/numerique-decentralise/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/rejoindre/</loc>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/newsletter/</loc>
    <priority>0.5</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/contact/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/mentions-legales/</loc>
    <priority>0.3</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/conditions/</loc>
    <priority>0.3</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/confidentialite/</loc>
    <priority>0.3</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/charte-ethique/</loc>
    <priority>0.4</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/tutoriels/violation-donnees-procedure-lpd/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/tutoriels/registre-traitements-lpd-associations/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/tutoriels/analyse-impact-protection-donnees-aipd/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/tutoriels/delegue-protection-donnees-association-suisse/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/tutoriels/transferts-donnees-etranger-lpd-suisse/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/tutoriels/mots-de-passe-bitwarden-gestionnaire/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/tutoriels/authentification-deux-facteurs-2fa-associations/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/tutoriels/chiffrement-email-pgp-associations/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/tutoriels/yunohost-auto-hebergement-association/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/tutoriels/nextcloud-cloud-prive-associations-suisse/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/tutoriels/signature-numerique-zert-es-suisse-associations/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/tutoriels/ia-locale-ollama-donnees-confidentielles/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/tutoriels/biais-ia-esprit-critique-detection/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/tutoriels/charte-ethique-ia-association/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/tutoriels/lire-logs-serveur-securite/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/tutoriels/gestion-acces-droits-iam-association/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/tutoriels/plan-reponse-incidents-securite-association/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/tutoriels/gouvernance-donnees-associations/</loc>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://ataraxialab.ch/tutoriels/politique-securite-numerique-association/</loc>
    <priority>0.7</priority>
  </url>
</urlset>
